:root {
    --color-background_body: #070721;
    --color-text_and_button: #5FABEE;
    --color-button_hover: #5495ce;
    --color-background_form: #030314;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-error: #f12828;
}