@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 1.2px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text_and_button);
}

body {
    background-color: var(--color-background_body);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_contact {
    height: 400px;
    width: 300px;
    border: 1px var(--color-black) solid;
    border-radius: 15px;
    background-color: var(--color-background_form);
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tittle {
    margin-bottom: 80px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: start;
}

input {
    background-color: transparent;
    color: var(--color-white);
    border: 0;
    border-bottom: 1px #ccc solid;
    height: 20px;
    outline: none;
    text-decoration: none;
}

input, input {
    margin-top: 15px;
    margin-bottom: 40px;
}

.button_submit {
    margin-top: 20px;
    height: 30px;
    width: 90px;
    background-color: var(--color-text_and_button);
    color: var(--color-black);
    border: 0;
    border-radius: 3px;
    align-self: center;
}

.button_submit:hover {
    background: var(--color-button_hover);
    cursor: pointer;
}

.error {
    color: var(--color-error);
}

@media (max-width: 1000px)
{
    .form_contact {
        height: 350px;
        width: 225px;
    }

    label {
        font-size: 14px;
    }

    input {
        margin-bottom: 25px;
    }

    .button_submit {
        height: 30px;
        width: 90px;
    }
}

@media (max-width: 500px)
{
    .form_contact {
        height: 300px;
        width: 200px;
    }

    label {
        font-size: 14px;
    }

    .tittle {
        font-size: 25px;
    }

    input {
        margin-bottom: 20px;
    }

    .button_submit {
        height: 30px;
        width: 90px;
    }
}

@media (max-width: 320px)
{
    .form_contact {
        height: 250px;
        width: 150px;
    }

    label {
        font-size: 12px;
    }

    .tittle {
        font-size: 17px;
    }

    input {
        margin-bottom: 10px;
    }

    .button_submit {
        height: 30px;
        width: 90px;
    }
}